{{!-- Western NPC Generator Dialog Template --}}
<form class="western-npc-form">
    <div class="form-group">
        <label for="npc-type">NPC Type:</label>
        <select id="npc-type" name="npc-type">
            {{#each npcTypes}}
            <option value="{{key}}" data-description="{{description}}" {{#if (eq key ../defaultType)}}selected{{/if}}>
                {{label}}
            </option>
            {{/each}}
        </select>
        <div class="type-description">{{#each npcTypes}}{{#if (eq key ../defaultType)}}{{description}}{{/if}}{{/each}}</div>
    </div>

    <div class="form-group">
        <label for="gender">Gender:</label>
        <select id="gender" name="gender">
            {{#each genders}}
            <option value="{{key}}">{{label}}</option>
            {{/each}}
        </select>
    </div>

    <div class="form-group">
        <label>
            <input type="checkbox" name="create-actor" checked>
            Create Actor
        </label>
        <small>Creates a new NPC actor in the Actors directory</small>
    </div>

    <div class="form-group">
        <label>
            <input type="checkbox" name="add-to-scene">
            Add to Current Scene
        </label>
        <small>Places the NPC token on the current scene</small>
    </div>

    <div class="western-npc-info">
        <p><strong>Western NPC Generator</strong> by Marshal Games</p>
        <p>Generate authentic frontier characters for your Western campaigns!</p>
    </div>
</form>
